body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

#cougar {
    background: #ffbd82;
    clear: both;
    padding: 90px;
}

#lion {
    background: #82e8ff;
    padding: 50px;
}

#tiger {
    background: #b26219;
    padding: 50px;
}

section {
    color: #000;
}
article {
    background: #fff;
    width: 600px;
    margin: 50px auto;
    padding: 20px 40px;
    box-sizing: border-box;
}

h2, section > p {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

footer {
    text-align: center;
    padding: 20px 450px;
}

h1 {
    float: left;
    margin: 10px 30px;
}

header {
    float: none;
    width: auto;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }

nav {
    float: right;
    margin: 30px 30px 10px;
}

nav ul {
    list-style: none;
    margin-top: 0;
}

nav li {
    float: left;
    margin-left: 20px;
}
